body {
  font-family: sans-serif;
  background-color: black;
  color: yellow;
}
.App {
  text-align: center;
  margin: 20px;
}
img {
  height: 200px;
}
.character-bg {
  border-radius: 50%;
  border: solid 1px magenta;
  background-color: white;
  padding: 30px;
  display: flex;
  width: 640px;
  font-size: 20px;
}
em {
  font-size: 15px;
}
.text-container {
  margin-top: 30px;
  color: black;
  width: 400px;
  padding: 20px;
  text-align: left;
}
button {
  border: solid 2px yellow;
  background-color: magenta;
  color: yellow;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
button:hover,
button:active {
  border: solid 2px magenta;
  background-color: yellow;
  color: magenta;
}
